<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.campus02.todolist">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodoList"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.LaunchActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.users.LoginActivity"
            android:exported="true"
            android:label="Login"
            android:parentActivityName=".activities.LaunchActivity"/>
        <activity
            android:name=".activities.users.RegistrationActivity"
            android:exported="true"
            android:label="Benutzerregistrierung"
            android:parentActivityName=".activities.users.LoginActivity" />
        <activity
            android:name=".activities.tasks.ShowAllTasksActivity"
            android:exported="true"
            android:label="Aufgaben"
            android:parentActivityName=".activities.LaunchActivity"/>
        <activity
            android:name=".activities.tasks.AddOrEditTaskActivity"
            android:exported="true"
            android:label="Aufgaben bearbeiten"
            android:parentActivityName=".activities.tasks.ShowAllTasksActivity" />
    </application>
</manifest>